{% extends 'base.html.twig' %}

{% block title %}LoL Cooldowns{% endblock %}

{% block body %}

    <h1>Check if a Name is in the List</h1>

    <form class="" method="post" action="{{ path('home') }}">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="">Champions</span>
            </div>
            <input class="form-control" type="text" id="name1" name="name1" value={{ names[0]}} >

            <input class="form-control" type="text" id="name2" name="name2" value={{ names[1]}} >

            <input class="form-control" type="text" id="name3" name="name3" value={{ names[2]}} >

            <input class="form-control" type="text" id="name4" name="name4" value={{ names[3]}} >

            <input class="form-control" type="text" id="name5" name="name5" value={{ names[4]}} >

            <button class="btn btn-success" type="submit">Check</button>
        </div>
    </form>

    <button type="button" class="flex btn btn-danger">Reset</button>




    {{ dump(champions_list) }}
    <div class="container container-fluid h-auto d-flex justify-content-start align-items-center flex-wrap">
    {% if champions_list %}
        {% for champions in champions_list %}
            {% for champion in champions %}

                <div class="row table-hover p-1 justify-content-start align-items-center" >
                    <div class="col-sm"> <img src="{{ champion.icon }}" style="height: 48px" alt="{{ champion.name }}"></div>
                    <div class="col-sm"> <img src="{{ champion.abilities.Q.icon }}" style="height: 48px" alt="{{ champion.abilities.Q.name }}"></div>
                    {% for cd in champion.abilities.Q.cooldown %}
                        <div class="col-sm"> {{ cd }} </div>
                    {% endfor %}
                    <div class="col-sm"> <img src="{{ champion.abilities.W.icon }}" style="height: 48px" alt="{{ champion.abilities.W.name }}"></div>
                    {% for cd in champion.abilities.W.cooldown %}
                        <div class="col-sm"> {{ cd }} </div>
                    {% endfor %}
                    <div class="col-sm"> <img src="{{ champion.abilities.E.icon }}" style="height: 48px" alt="{{ champion.abilities.E.name }}"></div>
                    {% for cd in champion.abilities.E.cooldown %}
                        <div class="col-sm"> {{ cd }} </div>
                    {% endfor %}
                    <div class="col-sm"> <img src="{{ champion.abilities.R.icon }}" style="height: 48px" alt="{{ champion.abilities.R.name }}"></div>
                    {% for cd in champion.abilities.R.cooldown %}
                        <div class="col-sm"> {{ cd }} </div>
                    {% endfor %}
                    <div class="col-sm"></div>
                </div>

            {% endfor %}
        {% endfor %}
    {% endif %}
    </div>

{% endblock %}
