<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('/images/icons/favicon.ico') }}">
        <link rel="icon" href="{{ asset('/images/icons/favicon-16x16.png') }}" sizes="16x16" type="image/png">
        <link rel="icon" href="{{ asset('/images/icons/favicon-32x32.png') }}" sizes="32x32" type="image/png">
        <link rel="android-chrome" href="{{ asset('/images/icons/android-chrome-192x192.png') }}" sizes="192x192" type="image/png">
        <link rel="android-chrome" href="{{ asset('/images/icons/android-chrome-512x512.png') }}" sizes="512x512" type="image/png">
        <link rel="apple-touch-icon" href="{{ asset('/images/icons/apple-touch-icon.png') }}" sizes="180x180" type="image/png">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="bg-dark text-light">
        <div class="d-flex flex-column h-100">

            <div class="p-4 m-4">
                <h1 class="d-flex justify-content-center">LoL Cooldowns</h1>
            </div>

            <div class="container p-2 h-100 text-truncate">
                {% block body %}{% endblock %}
            </div>

            <div class="mt-auto w-full bg-secondary">
                <h6 class="mx-4 my-2 fs-6 fw-light">lolcooldowns.com isn’t endorsed by Riot Games and doesn’t reflect
                    the views or opinions of Riot Games or anyone officially involved in producing or managing League
                    of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games,
                    Inc. League of Legends © Riot Games, Inc.</h6>
            </div>

        </div>
    </body>
</html>

