{{ form_start(form) }}

<div class="row mb-4 flex-nowrap" >

    <div class="col d-flex align-items-center justify-content-center">
        <button id="sub-button-side" type="submit" class="btn btn-success" data-mdb-ripple-init>
            Send
        </button>
    </div>

    <div class="col d-flex align-items-center justify-content-center">
        <a type="button"  id="form-reset-side" href="{{ path(app.current_route) }}"
           class="btn btn-danger d-flex" data-mdb-ripple-init>
            Reset
        </a>
    </div>

</div>

<div    data-controller="form-collection"
        data-form-collection-index-value="{{ form.champions|length > 0 ? form.champions|last.vars.name + 1 : 0 }}"
        data-form-collection-prototype-value="{{ form_row(form.champions.vars.prototype)|e('html_attr') }}"
        class="container-fluid"
>

    <ul class="container-fluid">
        {{ form_widget(form.champions, {'attr': {'data-form-collection-target': 'collectionContainer'}}) }}
    </ul>

    <div class="row mb-4">
        <div class="col d-flex align-items-center justify-content-center">
            <button id="add-button" type="button" {{ stimulus_action('form-collection', 'addCollectionElement') }}
                    class="btn btn-secondary">
               ADD
            </button>
        </div>
    </div>

</div>

{{ form_rest(form) }}
{{ form_errors(form) }}
{{ form_end(form) }}
